.pathFilter {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  border-bottom: 1px solid var(--borderColor);

  select {
    flex: 1;
    min-width: 0;
    min-height: 44px;
  }

  span {
    flex-shrink: 0;
  }
}

.pathFilterPicker {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  max-width: 640px;
  gap: 10px;
}

@media (--breakpointSmall) {
  .pathFilter {
    flex-wrap: wrap;
    padding: 10px;

    .pathFilterLabel {
      width: 100%;
    }

  }

  .pathFilterPicker {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
}

.pageContentBodyWrapper {
  display: flex;
  flex: 1 0 1px;
  overflow: hidden;
}

.contentBody {
  composes: contentBody from 'Components/Page/PageContentBody.module.css';

  position: relative;
  display: flex;
  flex-direction: column;
}

.postersInnerContentBody {
  composes: innerContentBody from 'Components/Page/PageContentBody.module.css';

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: calc(var(--pageContentBodyPadding) - 5px);
  padding-top: 12px;
}

.tableInnerContentBody {
  composes: innerContentBody from 'Components/Page/PageContentBody.module.css';

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.overviewInnerContentBody {
  composes: innerContentBody from 'Components/Page/PageContentBody.module.css';

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: calc(var(--pageContentBodyPadding) - 5px);
  padding-top: unset;
}

.hasJumpBar {
  padding-right: 12px;
}

.contentBodyContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (--breakpointSmall) {
  .pageContentBodyWrapper {
    flex-basis: auto;
  }

  .contentBody {
    flex-basis: 1px;
  }

  .postersInnerContentBody {
    padding: calc(var(--pageContentBodyPaddingSmallScreen) - 5px);
  }
}

.combinedFilters {
  min-width: 180px;

  summary {
    padding: 12px;
    cursor: pointer;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
  }

  label {
    display: flex;
    align-items: center;
    gap: 10px;

    min-height: 44px;
  }
}
